/*Inicio footer*/

.bg-footer {
    background-color: $beige_valarte;
    width: 100%;
    padding: 8%;
}

.logo-footer {
    width: 122px;
    height: 120px;
}

.h3,
h3 {
    font-weight: 700;
    font-size: 0.9rem;
}

.contact-footer {
    width: 38%;
    color: $verde_valarte;
    font-family: $fuente_textos_menu;
    font-size: 0.8rem;
}

.sobremi-footer {
    color: $verde_valarte;
    font-family: $fuente_textos_menu;
    font-size: 0.8rem;
    width: 50%;
}

.margin_text_footer {
    margin-top: 10%;
}

.redes {
    a i {
      font-size: 1.5rem;
      text-align: center;
      margin: 0 10% 0 0;
  
      &:hover {
        transform: scale(1.2);
      }
    }
  
    p {
      color: $verde_valarte;
      padding: 10% 0;
      font-family:  $fuente_textos_menu;
      font-size: 0.8rem;
      letter-spacing: 0.25rem;
    }
  }