/*Inicio main sobre mi*/

.sobremi-texto {
    padding: 18% 5% 18% 5%;
    font-family: $fuente_textos_menu;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    text-align: center;
    line-height: 1.8rem;
}

.sobremi-img{
    width: 70%;
}

/*Fin main sobre mi*/