$_verde_oscuro: #466a1f;
$_verde_titulos_principales: #70825B;
$_verde_fondos_letras: #94A384;
$_beige_nav_foot: #F1EFE9;
$_beige_servicios: #DFD8C6;


$verde_principal: $_verde_titulos_principales;
$beige_valarte: $_beige_nav_foot;
$verde_hover: $_verde_oscuro;
$verde_valarte: $_verde_fondos_letras;
$blanco: #FFFFFF;
$beige_fondo: $_beige_servicios;



$fuente_titulos: 'Vidaloka', serif;
$fuente_textos_menu: 'Lato', sans-serif;